/*
	Project : Materiom
	Author(s) : David Charles - AddMustard
*/

.TextInput {
    > .inner {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5px;

        input[type="text"] {
            padding: 20px;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.5px;
            border-radius: 5px;
            border: 1px solid #000;
        }
    }
}